$header-background-color: #fff;
$footer-background-color: #000;

$section-background-color-1: #fff;
$section-background-color-2: #fafafa;

$heading-text-color: #000;

$text-color-1: #000;
$text-color-2: #fff;

$link-background-color-1: #000;
$link-background-color-2: #fff;

$link-text-color-1: #fff;
$link-text-color-2: #000;

$card-background-color: #fff;
$card-heading-text-color: #000;
